<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  
  <style type="text/css">
    .bs-example {
      margin: 0px;

    }
    .bg-dark {
    background-color: #000000!important;
    }
    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;

    }
  </style>
</head>

<body>



  <div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a href="/"><img src="{% static "images/logo.png" %}" style="width:100px;height:50px;" class="navbar-brand" /></a>  
      
    <center><a href="/" style="color: white; text-decoration: none;" ><font face = "Comic sans MS" size =" 5">HomeBazaar</font></a></center>
    <a  href="/login" class="btn btn-secondary btn-sm  nav-item nav-link" style="color: white; margin-left: auto;">
      <span class="glyphicon glyphicon-shopping-cart"></span><i class="fas fa-sign-in-alt"></i> Sign In
    </a>
    
   

   
    </nav>
  </div>


</body>

</html>